

<!--  <mat-form-field class="example-full-width">

    <input matInput placeholder="Etunimi" value = "">

  </mat-form-field>-->

  <mat-toolbar color="primary">
    <span>Contacts application</span>
  </mat-toolbar>

  <mat-list>

    <h1 matSubheader>Contacts</h1>

    <ca-contact-list-item *ngFor="let contact of contacts" [contact]="contact" (click)="onContactSelected(contact)"></ca-contact-list-item>

  </mat-list>

<button mat-raised-button (click)="onContactCreate()">Add User</button>

<mat-sidenav-container>
  <mat-sidenav mode="push" opened="true">Side navigation!</mat-sidenav>

  <div>
    <button type="button" mat-button (click)="openSidenav()">
      Open sidenav
    </button>
  </div>

</mat-sidenav-container>
