<!--<p>
  <ca-contact-list-item [contact]="contact"></ca-contact-list-item>
</p>-->

<div class="ca-contact-form">
  <mat-form-field class="ca-full-width">
    <input matInput placeholder="First name" value="" [(ngModel)]="contact.firstName">
  </mat-form-field>
  <mat-form-field class="ca-full-width">
    <input matInput placeholder="Last name" [(ngModel)]="contact.lastName">
  </mat-form-field>
  <mat-form-field class="ca-full-width">
    <input matInput placeholder="Phone number" [(ngModel)]="contact.phoneNumber">
  </mat-form-field>
</div>

