<!--<p>
  <ca-contact-list-item [contact]="contact"></ca-contact-list-item>
</p>-->
<div class="ca-contact-form">
  <h3>{{action}}</h3>
  <mat-form-field class="ca-full-width">
    <input matInput placeholder="First name" value="" [(ngModel)]="contact.firstName">
  </mat-form-field>
  <mat-form-field class="ca-full-width">
    <input matInput placeholder="Last name" [(ngModel)]="contact.lastName">
  </mat-form-field>
  <mat-form-field class="ca-full-width">
    <input matInput placeholder="Phone number" [(ngModel)]="contact.phoneNumber">
  </mat-form-field>
  <mat-form-field class="ca-full-width">
    <input matInput placeholder="Street address" [(ngModel)]="contact.streetAddress">
  </mat-form-field>
  <mat-form-field class="ca-full-width">
    <input matInput placeholder="City" [(ngModel)]="contact.city">
  </mat-form-field>
</div>
<button mat-raised-button *ngIf="contact.id" (click)="deleteContact()">Delete User</button>

<button mat-raised-button *ngIf="contact.id" (click)="editContact()">Edit Contact</button>

<button mat-raised-button *ngIf="!contact.id" (click)="createContact()">Create Contact</button>

<button mat-raised-button (click)="cancelAction()">Cancel</button>

